.main-title {
    text-align: center;
    font-family: 'Syncopate', sans-serif;
}
.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.light-on {
    color: yellowgreen;
}
.light-off {
    color: indianred;
}
.title {
    text-align: center;
    font-size: small;
    padding: 5px;
    background-color: darkorange;
    font-weight: bold;
}

.panel {
    min-width: 200px;
    margin: 10px;
    border: 1px solid darkorange;
    border-radius: 5px;
}

.values {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
    text-align: center;
}

.label {
}

.value {
    min-width: 150px;
}

.values .value .value {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Syncopate', sans-serif;
}
